@{
    ViewData["Title"] = "Confirmar exclusão de contato";
}
<div class="container">
    <div class="form-control bg-light p-5 rounded">
        <div class="text-center">
            <h3>Realmente deseja apagar o registro </h3>

        </div>
        <div>
            <a class="btn btn-danger" role="button" asp-action="Index" asp-controller="Contato">Cancelar</a>
            <a class="btn btn-primary" role="button">Confirmar exclusão</a>
        </div>
    </div>
</div>